[build]
  command = "npm run build && npm run build:server"
  publish = "build"

# Redirect all requests to SSR function, but Netlify will serve static files automatically
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/ssr"
  status = 200

[functions]
  node_bundler = "esbuild"
  included_files = ["build/**"]

